@media (max-width:1000px) {
    #body-two {
        height:1800px;
        width:100%;
    }

    .left-body {
        width:100%;
        height:600px;
        text-align: center;
    }

    .left-body img {
        width: 500px;
        margin:0 auto;
    }
    .right-body{
        width:100%;
        margin-left:0;
        margin-top:100px;
        align-items: center;
    }

    .box {
        margin:0 auto;
    }

    .body-one {
        height:1500px;
        padding:100px 80px;
        text-align: center;
    }

    .body-kiri {
        width:100%;
        height:600px;
        text-align: center;
    }

    .body-kanan {
        width:85%;
        display:relative;
    }


    #buttons li {
        float: right;
        list-style: none;
        text-align: center;
        width: 100px;
        line-height: 50px;
        text-decoration: none;
        border-radius: 20px;
        border: 2px solid #555555;
    }
}


@media (max-width:670px) {
    .left-body img {
        width:300px
    }

    .left-body {
        height:400px
    }

    .right-body {
        margin-top:10px;
    }

    .body-three {
        height:1000px;
    }

    .body-three h1 {
        font-size: 25px;
        width:100%;
    }
    .body-kanan {
        width:75%;
        display:relative;
    }

    #buttons {
        display:none;
    }

    .pesan {
        display:none;
    }

    .konten1-wrapper {
        color: black;
        background-color: #526771;
        text-align: center;
        height: max-content;
    }
    
    .konten1-wrapper h2 {
        opacity: 1;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        letter-spacing: 5px;
    }
    
    .image-top {
        display:none;
    }
    
    #body-two {
        height:2000px;
    }
    
}
