*{
    padding:0;
    margin:0;
    list-style: none;
    font-family:  Helvetica;
    scroll-behavior: smooth;
}

.container {
    padding:100px 80px;
     
}

body {
    position:relative;
}


.header {
    background-color:rgb(0, 0, 0,0.8);
    height: 90px;
    width: 100%;
    color: rgba(34, 49, 52, 0.9);
    margin: 0;
    padding: 10px 10px;
    position: fixed;
    z-index:9999;
}
.header-left {
    float: left;
    color: white;
    padding: 30px 40px;
    font-size:x-large;
    cursor: pointer;
}

.header-right {
    padding: 17px 10px;
}
#buttons li {
    float: right;
    list-style: none;
    text-align: center;
    margin-right: 35px;
    width: 150px;
    line-height: 50px;
    text-decoration: none;
    margin-top: 0px;
    border-radius: 20px;
    border: 2px solid #555555;
}
#buttons a {
    text-decoration: none;
    color: #fff;
}

#buttons li a {
    text-decoration: none;
    
    display: inline-block;
    border-radius: 20px;
}
#buttons li:hover {
    text-decoration: none;
    color: #fff;
    background-color:dimgray;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    transition-duration: 0.2s;
}
.fa {
    color:white;
    display: inline-block;
    margin-right: 10px;

}

#body-two {
    width:100%;
    height:1115px;
    background-color:#526771 ;
    align-items: center;
}



.content-body2 {
    margin-top:100px;
}

.left-body {
    width:40%;
    float:left;
}


.right-body {
    width: 40%;
    float: right;
    padding:80px 20px;
    margin-left: 50px;  
      
}

.right-body h2 {
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0.7;
}

#harga {
    margin-top:20px;
}

#harga p {
    float:left;
    font-size: 20px;
    font-weight:bold;
}

.harga-dua {
    opacity: 0.7;
    margin-left:10px;
}
.rating {
    margin-top:30px;
}

.rating p{
    margin-left:130px;
}

.rating img {
    width:20px;
    float: left;
    margin-right:5px;
}

.content p{
    margin-top:20px
}

.button-beli {
    display:block;
    text-decoration: none;
    margin-top:40px;
    text-align: center;
    color:white;
    padding:10px 15px;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    background-color: rgb(0, 0, 0,0.5);
    letter-spacing: 2px;
}

.button-beli a{
    color:white;
    width:100%;
    height:100%;
    display:block;
    text-decoration: none;
}

.button-beli:hover {
    background-color: rgb(0, 0, 0,0.7);
}

.box {
    position:relative;
    width:400px;
    height:400px;
    transition:all 0.5s;
    display: flex;
    
    align-items: center;
}

.box p{
    margin-top:5px;
}

.box::before{
    content: '';
    top:0;
    left:50px;
    position:absolute;
    width:50%;
    height:100%;
    background: linear-gradient(315deg, #03a9f4,#ff0058);
    transform:skewX(15deg);
    border-radius: 10px;
    transition: 0.5s;
}

.box::after{
    content: '';
    top:0;
    left:50px;
    position:absolute;
    width:50%;
    height:100%;
    background: linear-gradient(315deg, #03a9f4,#ff0058);
    transform:skewX(15deg);
    border-radius: 10px;
    filter: blur(30px);
    transition: 0.5s;
}

.box:hover:before,
.box:hover:after{
    transform:skewX(0deg);
    transition:0.5s;
}

#content {
    margin-left: 30px;
    position: relative;
    z-index: 100;
    background: rgb(255, 255, 255,0.1);
    padding: 20px 40px;
    border-radius: 8px;
}

.box span {
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 50;
    display: block;
    position: absolute;
}

.box span::before{
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width: 100%;
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 10px;
    opacity:0;
    transition: 0.5s;
    
}

.box:hover span::before {
    top:-50px;
    left:60px;
    width:100px;
    height:100px;
    opacity: 1;
    animation: animasi 2s linear infinite;
}

.box span::after{
    content: '';
    position: absolute;
    bottom:0px;
    right:0px;
    height:100%;
    width: 100%;
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 10px;
    opacity:0;
    transition: 0.5s;
    animation-delay: -1s;
}

.box:hover span::after {
    bottom:-50;
    margin-right:100px;
    width:100px;
    height:100px;
    opacity: 1;
    animation: animasi2 1s ease-in-out infinite;
    animation-delay: 2s;
}
@keyframes animasi {
    0%,100%{
        transform:translateY(10px)
    }50%{
        transform: translateY(-10px);
    }
}

@keyframes animasi2 {
    0%,100%{
        transform:translateX(50px)
    }50%{
        transform: translateY(-20px);
    }
}

.box:hover span::after {
    bottom:-50px;
    right:60px;
    width:100px;
    height:100px;
    opacity: 1;
    animation: animasi 2s linear infinite;
}


.rating p{
    line-height: 23.5px;
}


.body-three {
    position:relative;
    height: 900px;
    width:100%;
    background-size: cover;
    background-image: url(../img/soundbite.jpg);
    background-size:cover;
    background-blend-mode:multiply;
    background-attachment: fixed;
}

.wrapper {
    position:relative;
    width:100%;
    height:100%;
    
}

.wrapper table {
   background-color: #fff; 
   text-align: center;
   border-radius: 10px;
}

.body-three h1 {
    z-index: 2;
    border-radius: 10px;
    width:700px;
    padding:10px 20px;
    background-color: rgb(0, 0, 0,0.2);
    color:#fff;
    font-size: 35px;
    opacity: 0.7;
    transition: 0.5s;
    position: relative;
}

.body-three h1:hover {
    background-color: rgb(0, 0, 0);
    color:#fff;
}

.tabel1 {
    font-family: sans-serif;
    color: rgb(78, 25, 80);
    border-collapse: collapse;
    width: 80%;
    border-radius: 10px;
    margin-top: 50px;
}
.tabel1 tr th {
    background:rgb(49, 148, 105);
    color: #fff;
    font-weight: normal;
}
.tabel1, th, td {
    padding: 8px 10px;
    text-align:left;
    display:ruby;
    margin-right: 10px;
}
.tabel1 tr:nth-child(even) {
    background:rgb(0, 0, 0,0.2);
}


.body-three span {
    width:100%;
    height:100%;
    display:block;
    top:0;
    left:0;
    position:absolute;
}

.body-three span::before {
    content: '';
    background-color: rgb(255, 255, 255,0.2);
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: block;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}

.body-three span:hover::before {
    z-index: 3;
    height:50px;
    width: 100px;
    left:0;
    margin-top:-20px;
    margin-left:50;
    opacity: 1;
    display: block;
    animation: animasi 2s ease-in-out infinite;
}

.body-three span::after {
    content: '';
    background-color: rgb(255, 255, 255,0.2);
    width:100%;
    height:100%;
    bottom:0;
    right:0;
    display: block;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}

.body-three span:hover::after {
    z-index: 3;
    height:50px;
    width: 100px;
    margin-bottom:-20px;
    margin-right:50;
    opacity: 1;
    display: block;
    animation: animasi 2s ease-in-out infinite;
}

.kategori {
    font-weight: bold;
}


.body-one {
    color: white;
    background-color: #526771;
    text-align: center;
    height: 700px;
    padding-top:100px;
}

.body-kiri {
    width:40%;
    float:left;
    padding:20px 0;
}

.logo-bawah img{
    margin-top:10px;
    margin-right: 10px;
    width:20px;
    transition:0.5s;
    animation:animasi 2s ease-in-out infinite;
}




.body-kanan {
    width:50%;
    float:right;
    padding:50px 50px;
    background-color: rgb(255, 255 ,255,0.2);
    border-radius: 10px;
}

.body-kanan h1 {
    text-align: center;
    margin-bottom: 50px;
}

.body-kanan p {
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-align: justify;
    
}

.btn-wrapper {
    text-align: left;
}

.btn-wrapper a {
    text-decoration: none;
}

.harga {
    background-color: darkgoldenrod;
}

.spesifikasi {
    background-color: black;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.95;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 1;
    background-color: brown;
}


footer{
    margin: 0 auto;
    color: aliceblue;
    background-color: rgb(11, 6, 39);
    padding:20px 50px;

}
.thanks{
    float: left;
    width:200px;
}
.thanks p {
    margin-top:10px;
}

.by {
    float: left;   
    font-size: 20px ;
}
.title ul {
    font-weight: bold;
}
.title li {
    font-weight: normal;
    font-size: smaller;
    margin-top: 11px;
}
.pesan {
    float: right;
    margin-right: 10px;
    width: 28%;
    line-height: 28px;}
.title{     
    font-size: 20px;
}
.bagian-atas{
    height: 200px;
    border-bottom: 1px solid rgb(230, 201, 201);
    margin-left: 20px;    
}
.bagian-bawah{
    margin-top:10px;
    height: 30px;   
    margin-left: 20px;
}


body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.konten1 {
    padding-top: 300px ;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/miring.png);
    background-size: cover;
}

.konten1-wrapper {
    color: white;
    background-color: #526771;
    text-align: center;
    height: max-content;
}

.konten1-wrapper h2 {
    opacity: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    letter-spacing: 5px;
}

.penutup {
    margin:0 auto;
    height:400px;
    width:100%;
    text-align: center;
    background-color: black;
    padding:100px 0;
}


.penutup img {
    margin:100px 100px
    
}